<form id="chatForm" >
    <div id="container" style="height:250px; display:block; overflow-y:scroll; scroll-behavior: smooth;"></div>
    <input id="chatInput" placeholder="Mensaje"/>
    <button type="submit">Enviar</button>
</form>